datasets==3.3.2
glob2==0.7
mistralai==1.5.1
natsort==8.4.0
numpy==2.2.3
openai==1.66.3
pandas==2.2.3
python-dotenv==1.0.1
torch==2.6.0
tqdm==4.67.1
transformers==4.49.0
trl==0.15.1
unsloth==2025.2.15
