datasets==3.4.0
glob2==0.7
mistralai==1.5.1
natsort==8.4.0
numpy==1.23.5
openai==1.66.3
pandas==1.5.2
python-dotenv==1.0.1
scikit_learn==1.0.2
torch==2.6.0
tqdm==4.67.1
tqdm==4.64.1
transformers==4.49.0
trl==0.15.2
unsloth==2025.3.14
